<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Home</title>
</head>
<body>
<h1>This is sites#home -  Timetracking tool</h1>
<p>found in views/site/home.html.erb</p>
</body>
</html>
